{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form name="filter_films_form" action="" method="post">
            <div class="row">
                {{ filter_film_form.csrf_token }}
                <div class="col-sm">
                    <div class="mb-3">
                        {{ filter_film_form.cinema }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="mb-3">
                        {{ filter_film_form.genre }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="mb-3">
                        {{ filter_film_form.submit(type="submit", class="btn btn-primary") }}
                    </div>
                </div>
            </div>
            <div class="mb-3">
                {{ message }}
            </div>
        </form>
    </div>
{% endblock %}
