{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form name="registration_form" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.email(class="form-control", type="email", placeholder="Электронна почта") }}
            </div>
            <div class="mb-3">
                {{ form.login(class="form-control", placeholder="Логин") }}
            </div>
            <div class="mb-3">
                {{ form.password(class="form-control", type="password", placeholder="Пароль") }}
            </div>
            <div class="mb-3">
                {{ form.password_again(class="form-control", type="password", placeholder="Повторите пароль") }}
            </div>
            <div class="mb-3">
                {{ form.submit(type="submit", class="btn btn-primary") }}
            </div>
            <div class="mb-3">
                {{ message }}
            </div>
        </form>
    </div>
{% endblock %}