{% extends "base.html" %}

{%block content%}
<div class="container">
    <form class="login_form" method="post">
        <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="Электронна почта">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="login" placeholder="Логин">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="Пароль">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password_against" placeholder="Пароль повторно">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
        </div>
    </form>
</div>
{%endblock%}
